1 - Criar um DataFrame manualmente

In [11]:
import pandas as pd

df_frutas = pd.DataFrame({
    'Fruta': ['Maça', 'Banana', 'Uva'],
    'Tipo' : ['Tommy', 'Branca', 'Verde'],
    'Quantidade':[10, 20, 15]
})
df_frutas

    Fruta    Tipo  Quantidade
0    Maça   Tommy          10
1  Banana  Branca          20
2     Uva   Verde          15

----

2 - Filtrar linhas por condições simples

In [12]:
df_frutas.loc[(df_frutas['Quantidade'] > 10)]

    Fruta    Tipo  Quantidade
1  Banana  Branca          20
2     Uva   Verde          15

----

3 - Selecionar e renomear colunas

In [9]:
df_frutas.rename(columns={'Quantidade':'Unidades'}, inplace=True)
df_frutas

    Fruta    Tipo  Unidades
0    Maça   Tommy        10
1  Banana  Branca        20
2     Uva   Verde        15

----

4 - Modificar tipos de dados

In [16]:
print(type(df_frutas['Quantidade']))
df_frutas.Quantidade.astype('int64').values
print(type(df_frutas['Quantidade']))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

----

5 - Preencher e remover valores nulos

In [10]:
# Importando Bibliotecas
import pandas as pd

# Caminho para pasta Data
data_movie = '../data/Master_Data_Analysis/movie.csv'

# Criando o DataFrame
df_movie = pd.read_csv(data_movie)

# Remover os valores nulos
df_movie.dropna()

,title,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
0,Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
1,Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
2,Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8
3,The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,...,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5
5,John Carter,2012.0,Color,PG-13,132.0,Andrew Stanton,475.0,Daryl Sabara,640.0,Samantha Morton,...,530.0,73058679.0,Action|Adventure|Sci-Fi,462.0,212204,alien|american civil war|male nipple|mars|prin...,English,USA,263700000.0,6.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4906,Primer,2004.0,Color,PG-13,77.0,Shane Carruth,291.0,Shane Carruth,291.0,David Sullivan,...,8.0,424760.0,Drama|Sci-Fi|Thriller,143.0,72639,changing the future|independent film|invention...,English,USA,7000.0,7.0
4907,Cavite,2005.0,Color,Not Rated,80.0,Neill Dela Llana,0.0,Ian Gamazon,0.0,Edgar Tancangco,...,0.0,70071.0,Thriller,35.0,589,jihad|mindanao|philippines|security guard|squa...,English,Philippines,7000.0,6.3
4908,El Mariachi,1992.0,Color,R,81.0,Robert Rodriguez,0.0,Carlos Gallardo,121.0,Peter Marquardt,...,6.0,2040920.0,Action|Crime|Drama|Romance|Thriller,56.0,52055,assassin|death|guitar|gun|mariachi,Spanish,USA,7000.0,6.9
4910,Newlyweds,2011.0,Color,Not Rated,95.0,Edward Burns,0.0,Kerry Bishé,296.0,Caitlin FitzGerald,...,133.0,4584.0,Comedy|Drama,14.0,1338,written and directed by cast member,English,USA,9000.0,6.4
4915,My Date with Drew,2004.0,Color,PG,90.0,Jon Gunn,16.0,John August,86.0,Brian Herzlinger,...,16.0,85222.0,Documentary,43.0,4285,actress name in title|crush|date|four word tit...,English,USA,1100.0,6.6

----

6 - Preencher colunas com base em outras

In [13]:
# Utilizar os mesmo dados da movie.csv

# Função para pegar o valor e retornar um rótulo
def label(duration):
    if duration <= 90:
        return "Curta Metragem"
    elif duration <= 120:
        return "Padrão"
    else:
        return "Longa Metragem"

# Pegar os valores da coluna duration, se passar de 120 minutos é longa metragem
df_movie["Tipo_Filme"] = df_movie["duration"].apply(label)
df_movie

,title,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,...,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score,Tipo_Filme
0,Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,...,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9,Longa Metragem
1,Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,...,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1,Longa Metragem
2,Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,...,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8,Longa Metragem
3,The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,...,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5,Longa Metragem
4,Star Wars: Episode VII - The Force Awakens,NaN,NaN,NaN,NaN,Doug Walker,131.0,Doug Walker,131.0,Rob Walker,...,NaN,Documentary,NaN,8,NaN,NaN,NaN,NaN,7.1,Longa Metragem
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Signed Sealed Delivered,2013.0,Color,NaN,87.0,Scott Smith,2.0,Eric Mabius,637.0,Daphne Zuniga,...,NaN,Comedy|Drama,1.0,629,fraud|postal worker|prison|theft|trial,English,Canada,NaN,7.7,Curta Metragem
4912,The Following,NaN,Color,TV-14,43.0,NaN,NaN,Natalie Zea,841.0,Valorie Curry,...,NaN,Crime|Drama|Mystery|Thriller,43.0,73839,cult|fbi|hideout|prison escape|serial killer,English,USA,NaN,7.5,Curta Metragem
4913,A Plague So Pleasant,2013.0,Color,NaN,76.0,Benjamin Roberds,0.0,Eva Boehnke,0.0,Maxwell Moody,...,NaN,Drama|Horror|Thriller,13.0,38,NaN,English,USA,1400.0,6.3,Curta Metragem
4914,Shanghai Calling,2012.0,Color,PG-13,100.0,Daniel Hsia,0.0,Alan Ruck,946.0,Daniel Henney,...,10443.0,Comedy|Drama|Romance,14.0,1255,NaN,English,USA,NaN,6.3,Padrão
4915,My Date with Drew,2004.0,Color,PG,90.0,Jon Gunn,16.0,John August,86.0,Brian Herzlinger,...,85222.0,Documentary,43.0,4285,actress name in title|crush|date|four word tit...,English,USA,1100.0,6.6,Curta Metragem

----

7 - Agrupar dados e extrair estatísticas

In [ ]:
# Utilizar os mesmo dados de movie.csv

# Agrupar os dados genres e voltar a quantidade por genero
df_movie_statistc = df_movie.groupby("actor1")["year"].sum()
df_movie_statistc

np.int64(4909)

----