1 - Criar um DataFrame manualmente

In [11]:
import pandas as pd

df_frutas = pd.DataFrame({
    'Fruta': ['Maça', 'Banana', 'Uva'],
    'Tipo' : ['Tommy', 'Branca', 'Verde'],
    'Quantidade':[10, 20, 15]
})
df_frutas

    Fruta    Tipo  Quantidade
0    Maça   Tommy          10
1  Banana  Branca          20
2     Uva   Verde          15

----

2 - Filtrar linhas por condições simples

In [12]:
df_frutas.loc[(df_frutas['Quantidade'] > 10)]

    Fruta    Tipo  Quantidade
1  Banana  Branca          20
2     Uva   Verde          15

----

3 - Selecionar e renomear colunas

In [9]:
df_frutas.rename(columns={'Quantidade':'Unidades'}, inplace=True)
df_frutas

    Fruta    Tipo  Unidades
0    Maça   Tommy        10
1  Banana  Branca        20
2     Uva   Verde        15

----

4 - Modificar tipos de dados

In [16]:
print(type(df_frutas['Quantidade']))
df_frutas.Quantidade.astype('int64').values
print(type(df_frutas['Quantidade']))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>