In [1]:
import pandas as pd

teste_data = [['Linha 1', 'Linha 1'], ['Linha 2', 'Linha 2']]
df = pd.DataFrame(teste_data, columns=["Cabeçalho 1", "Cabeçalho 2"])
print(df)

  Cabeçalho 1 Cabeçalho 2
0     Linha 1     Linha 1
1     Linha 2     Linha 2

In [2]:
print(df["Cabeçalho 2"])

0    Linha 1
1    Linha 2
Name: Cabeçalho 2, dtype: object

In [3]:
print(df.get(["Cabeçalho 2", "Cabeçalho 1"]))

  Cabeçalho 2 Cabeçalho 1
0     Linha 1     Linha 1
1     Linha 2     Linha 2

In [4]:
import pandas as pd

vendas = {
    "Vendedor": ["Alice", "Bob", "Alice", "Charlie", "Bob", "Alice", "Charlie"],
    "Produto": ["A", "B", "A", "C", "A", "B", "B"],
    "Valor": [100, 150, 200, 50, 120, 180, 90],
    "Quantidade": [2, 1, 3, 1, 2, 1, 1]
}
df_vendas = pd.DataFrame(vendas)
print("DataFrame Original de Vendas:")
print(df_vendas)
print("---")

DataFrame Original de Vendas:
  Vendedor Produto  Valor  Quantidade
0    Alice       A    100           2
1      Bob       B    150           1
2    Alice       A    200           3
3  Charlie       C     50           1
4      Bob       A    120           2
5    Alice       B    180           1
6  Charlie       B     90           1
---

In [5]:
vendas_por_vendedor = df_vendas.groupby("Vendedor")["Valor"].sum()
print(vendas_por_vendedor)

Vendedor
Alice      480
Bob        270
Charlie    140
Name: Valor, dtype: int64

In [6]:
analise_por_produto = df_vendas.groupby("Produto").agg({'Valor':'mean', 'Quantidade': 'sum'})
print(analise_por_produto)

         Valor  Quantidade
Produto
A        140.0           7
B        140.0           3
C         50.0           1

In [7]:
teste = df_vendas.groupby("Produto").agg({'Valor':'mean', 'Quantidade':'count'})
print(teste)

         Valor  Quantidade
Produto
A        140.0           3
B        140.0           3
C         50.0           1

In [8]:
df_vendas_por_vendedor = vendas_por_vendedor.reset_index()
print(df_vendas_por_vendedor)

  Vendedor  Valor
0    Alice    480
1      Bob    270
2  Charlie    140

In [9]:

import pandas as pd

vendas = {
    "Vendedor": ["Alice", "Bob", "Alice", "Charlie", "Bob", "Alice", "Charlie"],
    "Produto": ["A", "B", "A", "C", "A", "B", "B"],
    "Valor": [100, 150, 200, 50, 120, 180, 90],
    "Quantidade": [2, 1, 3, 1, 2, 1, 1]
}
df_vendas = pd.DataFrame(vendas)

# Função de categorização
def categorizar_vendas(valor):
    if valor <= 100:
        return "Baixa"
    elif valor <= 200:
        return "Média"
    else:
        return "Alta"

# Aplica a função à coluna 'Valor' e cria a nova coluna
df_vendas["CategoriaVenda"] = df_vendas["Valor"].apply(categorizar_vendas)
print("DataFrame com a nova coluna 'CategoriaVenda':\n", df_vendas)

DataFrame com a nova coluna 'CategoriaVenda':
   Vendedor Produto  Valor  Quantidade CategoriaVenda
0    Alice       A    100           2          Baixa
1      Bob       B    150           1          Média
2    Alice       A    200           3          Média
3  Charlie       C     50           1          Baixa
4      Bob       A    120           2          Média
5    Alice       B    180           1          Média
6  Charlie       B     90           1          Baixa

In [10]:
import pandas as pd

vendas = {
    "Vendedor": ["Alice", "Bob", "Alice", "Charlie", "Bob", "Alice", "Charlie"],
    "Produto": ["A", "B", "A", "C", "A", "B", "B"],
    "Valor": [100, 150, 200, 50, 120, 180, 90],
    "Quantidade": [2, 1, 3, 1, 2, 1, 1]
}
df_vendas = pd.DataFrame(vendas)

# Dicionário de substituições
mapa_dicionario = {
    "C": "Tablet",
    "B": "Monitor"
}

# Usa o .replace() para atualizar a coluna "Produto"
df_vendas["Produto"] = df_vendas["Produto"].replace(mapa_dicionario)

print("DataFrame com a coluna 'Produto' corrigida:\n", df_vendas)

DataFrame com a coluna 'Produto' corrigida:
   Vendedor  Produto  Valor  Quantidade
0    Alice        A    100           2
1      Bob  Monitor    150           1
2    Alice        A    200           3
3  Charlie   Tablet     50           1
4      Bob        A    120           2
5    Alice  Monitor    180           1
6  Charlie  Monitor     90           1

In [11]:
import pandas as pd

vendas = {
    "Vendedor": ["Alice", "Bob", "Alice", "Charlie", "Bob", "Alice", "Charlie"],
    "Produto": ["A", "B", "A", "C", "A", "B", "B"],
    "Valor": [100, 150, 200, 50, 120, 180, 90],
    "Quantidade": [2, 1, 3, 1, 2, 1, 1]
}
df_vendas = pd.DataFrame(vendas)

# Dicionário de mapeamento
mapa_apelidos = {
    "Alice": "Aline",
    "Bob": "Roberto",
    "Charlie": "Carlos"
}

# Usa o .map() para criar a nova coluna "Apelido"
df_vendas["Apelido"] = df_vendas["Vendedor"].map(mapa_apelidos)

print("DataFrame com a nova coluna 'Apelido':\n", df_vendas)

DataFrame com a nova coluna 'Apelido':
   Vendedor Produto  Valor  Quantidade  Apelido
0    Alice       A    100           2    Aline
1      Bob       B    150           1  Roberto
2    Alice       A    200           3    Aline
3  Charlie       C     50           1   Carlos
4      Bob       A    120           2  Roberto
5    Alice       B    180           1    Aline
6  Charlie       B     90           1   Carlos

In [12]:
df_limpo = df_vendas.copy()

df_limpo["Produto"] = df_limpo["Produto"].fillna("Sem produto")
media = df_limpo["Valor"].mean()
df_limpo["Valor"] = df_limpo["Valor"].fillna(media)
print(df_limpo)

  Vendedor Produto  Valor  Quantidade  Apelido
0    Alice       A    100           2    Aline
1      Bob       B    150           1  Roberto
2    Alice       A    200           3    Aline
3  Charlie       C     50           1   Carlos
4      Bob       A    120           2  Roberto
5    Alice       B    180           1    Aline
6  Charlie       B     90           1   Carlos

In [13]:
import pandas as pd
import numpy as np

dados = {
    "Vendedor":["Alice", "Bob", np.nan, "Charlie", "Bob", "Alice"],
    "Produto": ["A", "B", "A", "C", "A", np.nan],
    "Valor": [100, 150, 200, np.nan, 120, 180]
}
df = pd.DataFrame(dados)

df_vendedores_sem_nan = df["Vendedor"].dropna()
print(df_vendedores_sem_nan)

df_colunas_completas = df.dropna(axis=1)
print(df_colunas_completas)

0      Alice
1        Bob
3    Charlie
4        Bob
5      Alice
Name: Vendedor, dtype: object
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5]

----

**`Sort_values()`**

- O método `sort_values()` é usado para ordenar um DataFrame ou Series com base nos valores de uma ou mais colunas. A ordenação pode ser crescente ou decrescente.

In [23]:
# Ordena para o menor valor do DataFrame, by=Coluna, ascending= True(Crescente) | False (Decrescente)
df_menor_quantidade = df_vendas.sort_values(by='Quantidade', ascending=True)
df_menor_quantidade.head(1)

  Vendedor Produto  Valor  Quantidade  Apelido
1      Bob       B    150           1  Roberto

In [22]:
# Ordena Vendedor em ordem alfabética, e Quantidade em ordem Descrescente.
df_vendas_ordenado = df_vendas.sort_values(by=["Vendedor", "Quantidade"], ascending=[True, False])
df_vendas_ordenado

  Vendedor Produto  Valor  Quantidade  Apelido
2    Alice       A    200           3    Aline
0    Alice       A    100           2    Aline
5    Alice       B    180           1    Aline
4      Bob       A    120           2  Roberto
1      Bob       B    150           1  Roberto
3  Charlie       C     50           1   Carlos
6  Charlie       B     90           1   Carlos

----

**`sort_index()`**

O método `sort_index()` é usado para ordenar um DataFrame ou Series com base no seu índice (os rótulos das linhas), e não nos valores das colunas.

In [ ]:
# DataFrame que ordenado em forma descrescente por Vendedor
df_vendas_ordenado_por_valor = df_vendas.sort_values(by="Vendedor", ascending=False)
df_vendas_ordenado_por_valor

  Vendedor Produto  Valor  Quantidade  Apelido
3  Charlie       C     50           1   Carlos
6  Charlie       B     90           1   Carlos
1      Bob       B    150           1  Roberto
4      Bob       A    120           2  Roberto
0    Alice       A    100           2    Aline
2    Alice       A    200           3    Aline
5    Alice       B    180           1    Aline

In [34]:
# DataFrame ordenado final
df_vendas_ordenado_final = df_vendas_ordenado_por_valor.sort_index()
df_vendas_ordenado_final

   Apelido Produto  Quantidade  Valor Vendedor
0    Aline       A           2    100    Alice
1  Roberto       B           1    150      Bob
2    Aline       A           3    200    Alice
3   Carlos       C           1     50  Charlie
4  Roberto       A           2    120      Bob
5    Aline       B           1    180    Alice
6   Carlos       B           1     90  Charlie

----

*`merge()`*

Utilizado para unir duas DataFrames, quando possui as mesmas colunas

In [3]:
import pandas as pd

# DataFrame 1: Informações dos vendedores
df_vendedores = pd.DataFrame({
    "ID_Vendedor": [1, 2, 3],
    "Nome": ["Alice", "Bob", "Charlie"]
})
print("DataFrame de Vendedores:\n", df_vendedores)

# DataFrame 2: Dados de vendas, usando o mesmo ID
df_vendas = pd.DataFrame({
    "ID_Vendedor": [2, 2, 2, 2, 2],
    "Valor_Venda": [100, 150, 200, 50, 120]
})
print("\nDataFrame de Vendas:\n", df_vendas)

# Vamos unir os dois DataFrames com base na coluna "ID_Vendedor"
df_unido = pd.merge(df_vendas, df_vendedores, on="ID_Vendedor")
print("\nDataFrame Unificado (merge):\n", df_unido)

DataFrame de Vendedores:
    ID_Vendedor     Nome
0            1    Alice
1            2      Bob
2            3  Charlie

DataFrame de Vendas:
    ID_Vendedor  Valor_Venda
0            2          100
1            2          150
2            2          200
3            2           50
4            2          120

DataFrame Unificado (merge):
    ID_Vendedor  Valor_Venda Nome
0            2          100  Bob
1            2          150  Bob
2            2          200  Bob
3            2           50  Bob
4            2          120  Bob

In [8]:
# DataFrame 1
df_alunos = pd.DataFrame({
    "ID_alunos":[10, 11, 12, 13],
    "Nome_alunos":['Ana','Bruno', 'Carlos', 'Diana']
    })

# Imprimir DataFrame 1
print('\nTabela de alunos: \n', df_alunos)

# DataFrame 2
df_cursos = pd.DataFrame({
    'ID_alunos':[10, 12, 10, 13, 12],
    'Nome_curso':['Matemática', 'Física', 'Química', 'Biologia', 'Geografia']
})

# Imprimir DataFrame 2
print('\nTabela Cursos: \n', df_cursos)

# Utilizar o método merge() e armazenar em uma variável df_cursos_matriculados
df_cursos_matriculados = pd.merge(df_alunos, df_cursos, on='ID_alunos')

# Imprimir o resultado
print('\nAlunos matriculados em cursos: \n', df_cursos_matriculados)

Tabela de alunos:
    ID_alunos Nome_alunos
0         10         Ana
1         11       Bruno
2         12      Carlos
3         13       Diana

Tabela Cursos:
    ID_alunos  Nome_curso
0         10  Matemática
1         12      Física
2         10     Química
3         13    Biologia
4         12   Geografia

Alunos matriculados em cursos:
    ID_alunos Nome_alunos  Nome_curso
0         10         Ana  Matemática
1         10         Ana     Química
2         12      Carlos      Física
3         12      Carlos   Geografia
4         13       Diana    Biologia

----

*`how merge`*

In [9]:
# DataFrame 1
df_alunos_completo = pd.DataFrame({
    'Id_alunos': [10, 11, 12, 13, 14],
    'Nome_alunos': ['Ana', 'Bruno', 'Carlos', 'Diana', 'Eduardo']
})

# Imprimindo a Tabela de alunos
print(
    '\nTabela alunos: \n', df_alunos_completo
)

# DataFrame 2
df_cursos = pd.DataFrame({
    'Id_alunos': [10, 12, 10, 13, 12],
    'Nome_curso': ['Matemática', 'Física', 'Química', 'Biologia', 'Geografia']
})

# Imprimindo Tabela Cursos
print(
    '\nTabela Cursos: \n', df_cursos
)

# Utilizando o método merge() porém passe o parâmetro how='left'
df_alunos_e_curso = pd.merge(df_alunos_completo, df_cursos, on='Id_alunos', how='left')

# Imprima a tabela Alunos e Cursos
print(
    '\nTabela Aluno e Cursos: \n', df_alunos_e_curso
)

Tabela alunos:
    Id_alunos Nome_alunos
0         10         Ana
1         11       Bruno
2         12      Carlos
3         13       Diana
4         14     Eduardo

Tabela Cursos:
    Id_alunos  Nome_curso
0         10  Matemática
1         12      Física
2         10     Química
3         13    Biologia
4         12   Geografia

Tabela Aluno e Cursos:
    Id_alunos Nome_alunos  Nome_curso
0         10         Ana  Matemática
1         10         Ana     Química
2         11       Bruno         NaN
3         12      Carlos      Física
4         12      Carlos   Geografia
5         13       Diana    Biologia
6         14     Eduardo         NaN

----

*Método `concat()`*

In [11]:
# DataFrame 1
df_frutas_1 = pd.DataFrame({
    "Nome": ["Maçã", "Banana"],
    "Preço": [2.50, 3.00]
})

# Imprimindo o DataFrame Frutas 1
print(
    'Tabela Frutas 1: \n', df_frutas_1
)

# DataFrame 2
df_frutas_2 = pd.DataFrame({
    "Nome": ["Laranja", "Uva"],
    "Preço": [2.00, 4.50]
})

# Imprimindo o DataFrame Frutas 2
print(
    '\nTabela Frutas 2: \n', df_frutas_2
)

# Concatenando o DataFrame 1 e 2 e armazenando em uma variável
df_frutas_completas = pd.concat([df_frutas_1, df_frutas_2], ignore_index=True)

# Imprimindo o resultado final, com as frutas completas
print(
    '\nTabela de Frutas Completas: \n', df_frutas_completas
)

Tabela Frutas 1:
      Nome  Preço
0    Maçã    2.5
1  Banana    3.0

Tabela Frutas 2:
       Nome  Preço
0  Laranja    2.0
1      Uva    4.5

Tabela de Frutas Completas:
       Nome  Preço
0     Maçã    2.5
1   Banana    3.0
2  Laranja    2.0
3      Uva    4.5

----

*Método `join()`*

In [ ]:
# DataFrame 1
df_vendas = pd.DataFrame({
    "Produto": ["Laptop", "Teclado", "Mouse"],
    "Quantidade": [2, 5, 3]
})

# DataFrame 2
df_detalhes_produtos = pd.DataFrame({
    "Preço": [2500, 200, 150],
    "Categoria": ["Eletrônicos", "Acessórios", "Acessórios"]
}, index=["Laptop", "Teclado", "Mouse"])

df_vendas_detalhadas = df_vendas.join(df_detalhes_produtos, on="Produto")

print(df_vendas_detalhadas)

   Produto  Quantidade  Preço    Categoria
0   Laptop           2   2500  Eletrônicos
1  Teclado           5    200   Acessórios
2    Mouse           3    150   Acessórios

----