In [1]:
import pandas as pd

teste_data = [['Linha 1', 'Linha 1'], ['Linha 2', 'Linha 2']]
df = pd.DataFrame(teste_data, columns=["Cabeçalho 1", "Cabeçalho 2"])
print(df)

  Cabeçalho 1 Cabeçalho 2
0     Linha 1     Linha 1
1     Linha 2     Linha 2

In [2]:
print(df["Cabeçalho 2"])

0    Linha 1
1    Linha 2
Name: Cabeçalho 2, dtype: object

In [3]:
print(df.get(["Cabeçalho 2", "Cabeçalho 1"]))

  Cabeçalho 2 Cabeçalho 1
0     Linha 1     Linha 1
1     Linha 2     Linha 2

In [4]:
import pandas as pd

vendas = {
    "Vendedor": ["Alice", "Bob", "Alice", "Charlie", "Bob", "Alice", "Charlie"],
    "Produto": ["A", "B", "A", "C", "A", "B", "B"],
    "Valor": [100, 150, 200, 50, 120, 180, 90],
    "Quantidade": [2, 1, 3, 1, 2, 1, 1]
}
df_vendas = pd.DataFrame(vendas)
print("DataFrame Original de Vendas:")
print(df_vendas)
print("---")

DataFrame Original de Vendas:
  Vendedor Produto  Valor  Quantidade
0    Alice       A    100           2
1      Bob       B    150           1
2    Alice       A    200           3
3  Charlie       C     50           1
4      Bob       A    120           2
5    Alice       B    180           1
6  Charlie       B     90           1
---

In [5]:
vendas_por_vendedor = df_vendas.groupby("Vendedor")["Valor"].sum()
print(vendas_por_vendedor)

Vendedor
Alice      480
Bob        270
Charlie    140
Name: Valor, dtype: int64

In [6]:
analise_por_produto = df_vendas.groupby("Produto").agg({'Valor':'mean', 'Quantidade': 'sum'})
print(analise_por_produto)

         Valor  Quantidade
Produto
A        140.0           7
B        140.0           3
C         50.0           1

In [7]:
teste = df_vendas.groupby("Produto").agg({'Valor':'mean', 'Quantidade':'count'})
print(teste)

         Valor  Quantidade
Produto
A        140.0           3
B        140.0           3
C         50.0           1

In [8]:
df_vendas_por_vendedor = vendas_por_vendedor.reset_index()
print(df_vendas_por_vendedor)

  Vendedor  Valor
0    Alice    480
1      Bob    270
2  Charlie    140

In [9]:

import pandas as pd

vendas = {
    "Vendedor": ["Alice", "Bob", "Alice", "Charlie", "Bob", "Alice", "Charlie"],
    "Produto": ["A", "B", "A", "C", "A", "B", "B"],
    "Valor": [100, 150, 200, 50, 120, 180, 90],
    "Quantidade": [2, 1, 3, 1, 2, 1, 1]
}
df_vendas = pd.DataFrame(vendas)

# Função de categorização
def categorizar_vendas(valor):
    if valor <= 100:
        return "Baixa"
    elif valor <= 200:
        return "Média"
    else:
        return "Alta"

# Aplica a função à coluna 'Valor' e cria a nova coluna
df_vendas["CategoriaVenda"] = df_vendas["Valor"].apply(categorizar_vendas)
print("DataFrame com a nova coluna 'CategoriaVenda':\n", df_vendas)

DataFrame com a nova coluna 'CategoriaVenda':
   Vendedor Produto  Valor  Quantidade CategoriaVenda
0    Alice       A    100           2          Baixa
1      Bob       B    150           1          Média
2    Alice       A    200           3          Média
3  Charlie       C     50           1          Baixa
4      Bob       A    120           2          Média
5    Alice       B    180           1          Média
6  Charlie       B     90           1          Baixa

In [10]:
import pandas as pd

vendas = {
    "Vendedor": ["Alice", "Bob", "Alice", "Charlie", "Bob", "Alice", "Charlie"],
    "Produto": ["A", "B", "A", "C", "A", "B", "B"],
    "Valor": [100, 150, 200, 50, 120, 180, 90],
    "Quantidade": [2, 1, 3, 1, 2, 1, 1]
}
df_vendas = pd.DataFrame(vendas)

# Dicionário de substituições
mapa_dicionario = {
    "C": "Tablet",
    "B": "Monitor"
}

# Usa o .replace() para atualizar a coluna "Produto"
df_vendas["Produto"] = df_vendas["Produto"].replace(mapa_dicionario)

print("DataFrame com a coluna 'Produto' corrigida:\n", df_vendas)

DataFrame com a coluna 'Produto' corrigida:
   Vendedor  Produto  Valor  Quantidade
0    Alice        A    100           2
1      Bob  Monitor    150           1
2    Alice        A    200           3
3  Charlie   Tablet     50           1
4      Bob        A    120           2
5    Alice  Monitor    180           1
6  Charlie  Monitor     90           1

In [11]:
import pandas as pd

vendas = {
    "Vendedor": ["Alice", "Bob", "Alice", "Charlie", "Bob", "Alice", "Charlie"],
    "Produto": ["A", "B", "A", "C", "A", "B", "B"],
    "Valor": [100, 150, 200, 50, 120, 180, 90],
    "Quantidade": [2, 1, 3, 1, 2, 1, 1]
}
df_vendas = pd.DataFrame(vendas)

# Dicionário de mapeamento
mapa_apelidos = {
    "Alice": "Aline",
    "Bob": "Roberto",
    "Charlie": "Carlos"
}

# Usa o .map() para criar a nova coluna "Apelido"
df_vendas["Apelido"] = df_vendas["Vendedor"].map(mapa_apelidos)

print("DataFrame com a nova coluna 'Apelido':\n", df_vendas)

DataFrame com a nova coluna 'Apelido':
   Vendedor Produto  Valor  Quantidade  Apelido
0    Alice       A    100           2    Aline
1      Bob       B    150           1  Roberto
2    Alice       A    200           3    Aline
3  Charlie       C     50           1   Carlos
4      Bob       A    120           2  Roberto
5    Alice       B    180           1    Aline
6  Charlie       B     90           1   Carlos

In [12]:
df_limpo = df_vendas.copy()

df_limpo["Produto"] = df_limpo["Produto"].fillna("Sem produto")
media = df_limpo["Valor"].mean()
df_limpo["Valor"] = df_limpo["Valor"].fillna(media)
print(df_limpo)

  Vendedor Produto  Valor  Quantidade  Apelido
0    Alice       A    100           2    Aline
1      Bob       B    150           1  Roberto
2    Alice       A    200           3    Aline
3  Charlie       C     50           1   Carlos
4      Bob       A    120           2  Roberto
5    Alice       B    180           1    Aline
6  Charlie       B     90           1   Carlos

In [13]:
import pandas as pd
import numpy as np

dados = {
    "Vendedor":["Alice", "Bob", np.nan, "Charlie", "Bob", "Alice"],
    "Produto": ["A", "B", "A", "C", "A", np.nan],
    "Valor": [100, 150, 200, np.nan, 120, 180]
}
df = pd.DataFrame(dados)

df_vendedores_sem_nan = df["Vendedor"].dropna()
print(df_vendedores_sem_nan)

df_colunas_completas = df.dropna(axis=1)
print(df_colunas_completas)

0      Alice
1        Bob
3    Charlie
4        Bob
5      Alice
Name: Vendedor, dtype: object
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5]

----

**`Sort_values()`**

- O método `sort_values()` é usado para ordenar um DataFrame ou Series com base nos valores de uma ou mais colunas. A ordenação pode ser crescente ou decrescente.

In [23]:
# Ordena para o menor valor do DataFrame, by=Coluna, ascending= True(Crescente) | False (Decrescente)
df_menor_quantidade = df_vendas.sort_values(by='Quantidade', ascending=True)
df_menor_quantidade.head(1)

  Vendedor Produto  Valor  Quantidade  Apelido
1      Bob       B    150           1  Roberto

In [22]:
# Ordena Vendedor em ordem alfabética, e Quantidade em ordem Descrescente.
df_vendas_ordenado = df_vendas.sort_values(by=["Vendedor", "Quantidade"], ascending=[True, False])
df_vendas_ordenado

  Vendedor Produto  Valor  Quantidade  Apelido
2    Alice       A    200           3    Aline
0    Alice       A    100           2    Aline
5    Alice       B    180           1    Aline
4      Bob       A    120           2  Roberto
1      Bob       B    150           1  Roberto
3  Charlie       C     50           1   Carlos
6  Charlie       B     90           1   Carlos

----

**`sort_index()`**

O método `sort_index()` é usado para ordenar um DataFrame ou Series com base no seu índice (os rótulos das linhas), e não nos valores das colunas.

In [ ]:
# DataFrame que ordenado em forma descrescente por Vendedor
df_vendas_ordenado_por_valor = df_vendas.sort_values(by="Vendedor", ascending=False)
df_vendas_ordenado_por_valor

  Vendedor Produto  Valor  Quantidade  Apelido
3  Charlie       C     50           1   Carlos
6  Charlie       B     90           1   Carlos
1      Bob       B    150           1  Roberto
4      Bob       A    120           2  Roberto
0    Alice       A    100           2    Aline
2    Alice       A    200           3    Aline
5    Alice       B    180           1    Aline

In [34]:
# DataFrame ordenado final
df_vendas_ordenado_final = df_vendas_ordenado_por_valor.sort_index()
df_vendas_ordenado_final

   Apelido Produto  Quantidade  Valor Vendedor
0    Aline       A           2    100    Alice
1  Roberto       B           1    150      Bob
2    Aline       A           3    200    Alice
3   Carlos       C           1     50  Charlie
4  Roberto       A           2    120      Bob
5    Aline       B           1    180    Alice
6   Carlos       B           1     90  Charlie

----